<div>
  <form (ngSubmit)="submitForm()" [formGroup]="paymentForm">

    <div class="form-group">
      <label>Name on Card</label>
      <input formControlName="nameOnCard" class="form-control" type="text" id="nameOnCard" placeholder="John Krane"
      [ngClass]="{'has-error': nameOnCard.errors}" >
      <div *ngIf="nameOnCard.invalid && nameOnCard.touched"  class="alert alert-danger">Invalid Cardholder Name.</div>
    </div>

    <div class="form-group">
      <label>Card Number</label>
      <input id="cardNumber" formControlName="cardNumber" class="form-control" type="text" placeholder="1234123412341234">
      <div *ngIf="cardNumber.invalid && cardNumber.touched" class="alert alert-danger">
        Invalid Card Number.</div>
    </div>

    <div class="form-group expiry">
      <label>Date of Expiration</label>
      <input id="expirationMonth" formControlName="expirationMonth" class="form-control month" type="text" placeholder="07">
      <input id="expirationYear" formControlName="expirationYear" class="form-control year" type="text" placeholder="2017">
      <div *ngIf="(expirationMonth.invalid && expirationMonth.touched) && (expirationYear.invalid && expirationYear.touched)"
           class="alert alert-danger">Invalid Date of Expiration.</div>
    </div>

    <div class="form-group cvc">
      <label>CVV/CVC</label>
      <input id="cvv" formControlName="cvv" class="form-control" type="text" placeholder="123">
      <div *ngIf="cvv.invalid && cvv.touched" class="alert alert-danger">Invalid CVV / CVC Number.</div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <h3 class="center-block text-center"><!-- Display the message here --></h3>
  </form>
</div>

<div>
  <h1 id="displayMessage" class="text-center">{{ displayMessage }} </h1>
</div>

